{% extends 'base.html.twig' %}

{% block title %}
  {% if app.user %}
    Bienvenue {{ app.user.username }}
  {% else %}
    Nous sommes à votre écoute
  {% endif %}
{% endblock %}

{% block body %}
<div class="block-home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% if app.user %}
          Bienvenue {{ app.user.username }}
        {% else %}
          Nous sommes à votre écoute
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
